KAFKA_BROKER=localhost:9092

ORDERS_DATABASE_HOST=localhost
ORDERS_DATABASE_PORT=5432
ORDERS_DATABASE_NAME=orders_db
ORDERS_DATABASE_USER=orders_user
ORDERS_DATABASE_PASSWORD=orders_pass

INVENTORY_DATABASE_HOST=localhost
INVENTORY_DATABASE_PORT=5433
INVENTORY_DATABASE_NAME=inventory_db
INVENTORY_DATABASE_USER=inventory_user
INVENTORY_DATABASE_PASSWORD=inventory_pass
